<h1>
    <%= faculty.name %>
</h1>

<p>Office: <%= faculty.office %>
</p>

<p>Phone: <%= faculty.phone %>
</p>

<p>Email: <%= faculty.email %>
</p>

<p>Department: <%= faculty.department %>
</p>

<p>Title: <%= faculty.title %>
</p>

<a href="/faculty">
    Back to Faculty List
</a>