<%- include('../partials/header') %>

    <h1>Faculty Directory</h1>

    <ul class="faculty-list">
        <% faculty.forEach(person=> { %>
            <li class="faculty-card">
                <img src="/images/faculty/<%= person.slug %>.jpg" alt="<%= person.name %>" class="faculty-thumb">
                <a href="/faculty/<%= person.slug %>">
                    <%= person.name %>
                </a>
                - <%= person.department %>
                    - <%= person.title %>
            </li>
            <% }) %>
    </ul>

    <%- include('../partials/footer') %>